.main-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  /* background-color: #dbd8e3; */
<<<<<<< HEAD:client/src/component/Shared/DivisionHead/DivisionHead.css
  background-image: url(../../../assets/lovepik.jpg);
  background-repeat: no-repeat;
  background-size: cover;
=======
  background-image: url(../../../assets/bg-div.jpg);
>>>>>>> 70eddc63c5f18736e25b4dc5020c1c6d33f88181:src/component/Shared/DivisionHead/DivisionHead.css
}
.image {
  max-height: 400px;
}
h2 {
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
  padding-top: 30px;
}
