.main-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  /* background-color: #dbd8e3; */
  background-image: url(../../../assets/bg-div.jpg);
}
.image {
  max-height: 400px;
}
h2 {
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
  padding-top: 30px;
}
