.main-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #161616;
  justify-content: center;
  color: #eeeeee;
  opacity: 0.9;
}
.footer-three,
.footer-two {
  padding: 10px;
  /* background-color: steelblue; */
  border: 5px;
}

/* .footer-two {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-flow: column wrap;
} */
ul > li {
  list-style-type: none;
  font-size: large;
  margin: 10px;
}
li a {
  text-align: center;
  color: darkcyan;
}
input {
  padding: 10px;
  margin: 5px;
  border: 2px solid #fff;
  border-radius: 3px;
}
.copyright {
  background-color: #161616;
  color: #ffff;
  opacity: 0.9;
}
